.text.title {
	font-size: 48px;
	line-height: 72px;
	font-weight: 500;
}

.text.week {
	font-size: 112px;
	line-height: 168px;
	font-weight: 500;
}

.text.big {
	font-size: 30px;
	line-height: 40px;
	font-weight: 500;
}

.text.control {
	font-size: 36px;
	line-height: 48px;
	font-weight: 500;
}

.text.control-active {
	font-weight: 800;
}

.text.control-inactive {
	font-weight: 400;
}

.text.body {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
}