/**
 * Contains site-wide variable
 */


// Many of these were originally CSS vars, so have left these as is
:root {
	background: black;
	color: white;

	--site-primary: #F10DA2;
	--site-secondary: #FE5000;
	--background-default: #000000;

	// Text
	--icon-fill: white;
	--text-default: #fff;
	--link-active: rgba(255, 255, 255, 0.6);

	// We use this colours for a variety of purposes, namely the alert banners
	--midland-red: #DC143C;
	--south-eastern-yellow: #FECB09;
	--great-western-green: #013602;
	/* Slighty darkened, original was #00A550 */
	--great-northern-green: rgb(0, 156, 76);
	--north-western-blue: #080028;
	--french-blue-brighter: #2B69D4;
	--alt-blue: #0284db;
	--an-orange: #F4511E;

	--link-blue:  #00B0FF; // Or at least, is used in jumbotron!

	// Margin and spacing vars
	--horizontal-indent: 5vw;
}

// For autocomplete - ALWASY REFER TO ABOVE!
$text-default: var(--text-default);
$site-primary: var(--site-primary);
$background-default: var(--background-default);