/**
 * Icons
 */
@use "variables";

@mixin arrow-right($width-and-height, $left-padding) {
  &::after {
		content: url("../appbar.arrow.right.svg");
		/*content: url(#icon);*/
		width: $width-and-height;
		height: $width-and-height;
		//margin: -8px;
		padding-left: $left-padding;
		fill: var(--icon-fill);
		filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(130deg) brightness(119%) contrast(116%);
	}
}