@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("./fonts/Metropolis/stylesheet.css");
@import "youtube.css";

@keyframes slide-in-top {
	from {
		transform: translateY(-10vh);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in-bottom {
	from {
		transform: translateY(10vh) scale(0.9375);
		opacity: 0;
	}

	to {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

/* Bootstrap OVERRRIDE */

body {
	font-family: "Metropolis", "Open Sans", sans-serif !important;
	color: #FFF;
	font-weight: 400 !important;
}

.App {
	color: #FFF;
	justify-content: center;
	flex-direction: column;
}


/* VERTICALLYTG CENTRE */
.isitweeka {
	min-height: 100vh;
	/* Prevent overlap with mail list. Readded on mobile to prevent thing looking weird */
	/*height: 100vh;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: var(--horizontal-indent);
	margin-right: var(--horizontal-indent);
}

.isitweeka h1 {
	font-size: 7em;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-flex;
}

.isitweeka h2 {
	font-size: 3em;
	display: inline-flex;
}

.isitweeka h3 {
	font-size: 2.5em;
	display: inline-flex;
}

.isitweeka h4 {
	font-size: 1.5em;
	display: inline-flex;
}

.isitweeka h5 {
	font-size: 1em;
	display: inline-flex;
}

.isitweeka-jumbotron a {
	color: #00B0FF;
	display: inline-flex;
}

.events * {
	text-align: center;
}

/* Button */

button {
	color: inherit;
	font-size: 1.5em;
	font-weight: 700;
	/*line-height: 26px;*/
	text-transform: lowercase;
	text-decoration: none;
	transition-duration: 100ms;
	position: relative;
	cursor: pointer;
	display: inline-flex;
	flex-direction: row;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: transparent;
	border: none;
	padding-top: 3px;
}

button > span {
	z-index: 2;
}

button.forward {
	/*margin-right: auto;*/
	/*margin-left: -8px;*/
	width: auto;
}

.events-row * {
	text-align: center;
}

/* Use this to remove margins from header */
.no-margin {
	margin-top: 0;
}

button.filled-button {
	width: auto;
	height: 2em;
	text-align: center;
	padding-top: 0px;
	padding-right: 1em;
	padding-left: 1em;
	background-color: var(--site-primary);
	color: #FFF;
}

button.filled-button:hover {
	filter: saturate(60%);
}


button.filled-button span {
	margin: auto;
	text-align: center;
}

button.back {
	height: 100%;
	justify-content: center;
	flex-direction: column;
}

button.forward::after {
	content: url("./appbar.arrow.right.svg");
	/*content: url(#icon);*/
	width: 48px;
	height: 48px;
	margin: -8px;
	padding-left: 8px;
	fill: var(--icon-fill);
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(130deg) brightness(119%) contrast(116%);
}

button.forward[data-light=true]::after {
	filter: none;
	fill: #000 !important;
	z-index: 10;
}

button.back::before {
	content: url("./appbar.arrow.left.svg");
	/*content: url(#icon);*/
	width: 48px;
	height: 48px;
	margin: -8px;
	/*margin-left: -24px;*/
	padding-right: 16px;
	fill: var(--icon-fill);
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(130deg) brightness(119%) contrast(116%);
}

button.forward::before {
	content: "";
	/* background-image: linear-gradient(to right, var(--rykan-accent-primary), var(--rykan-accent-secondary)); */
	background-color: var(--site-primary);
	position: absolute;
	height: calc(100% + 8px);
	width: calc(100% + 8px);
	left: -4px;
	bottom: -4px;
	transition-duration: 100ms;
	pointer-events: none;
	transform: scaleY(0.1);
	transform-origin: 0 100%;
	z-index: 0;
}

button.forward.a::before {
	transform: scaleY(0.1);
}

button.forward.b::before {
	transform: scaleY(1);
}

button.forward:hover::before {
	transform: scaleY(1);
}

button.forward.b:hover::before {
	filter: saturate(75%);
}

button.back::after {
	content: "";
	/* background-image: linear-gradient(to right, var(--rykan-accent-primary), var(--rykan-accent-secondary)); */
	background-color: var(--site-primary);
	position: absolute;
	height: 3px;
	width: 100%;
	left: 0;
	bottom: -4px;
	transition-duration: 100ms;
	pointer-events: none;
	transform: scaleX(0);
	transform-origin: 0 0;
}


.events-list {
	display: flex;
	flex-direction: column;
}

.events-list > * > div {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.events-row {
	display: flex;
	width: 100%;
	min-height: 320px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: var(--link-active);
	margin: 0 -10vw;
	padding: 0 var(--horizontal-indent);
}

.events-row:first-child {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: var(--link-active);
}

/** Banner stuff */

.r-banner-container {
	top: 168px;
	left: 0;
	animation: slide-in-top 300ms both;
	animation-delay: 100ms;
	transform-origin: bottom center;
	position: absolute;
	width: 100%;
	min-height: 68px;
	display: flex;
	padding: 0 20px;
	box-sizing: border-box;
}

.r-banner-container-animate-out {
	animation-direction: reverse;
}

/** This is the actual banner itself and is modifed depending on alerts */
.r-banner {
	margin: 0 auto;
	padding: 20px;
	display: flex;
	box-sizing: border-box;
	border-radius: 12px;
}

.r-banner-dismiss {
	margin: auto auto auto 20px;
	color:rgba(255, 255, 255, 0.65);
}

.r-banner-dismiss:hover {
	cursor: pointer;
	color:rgba(255, 255, 255, 0.85);
}

/** Only show as clickable if a link */
.r-banner-link {
	display: inline-flex !important;
	border-bottom: solid 3px;
	text-transform: lowercase;
	color: #FFFFFF !important;
	height: 1em;
	line-height: 1;
	white-space: nowrap;
	margin: auto auto auto 20px;
}
 .mobile .r-banner-link {
	margin: 10px auto auto 0px;
}

.r-banner-link:hover {
	cursor: pointer;
}

.r-banner-link::after {
	content: url("./appbar.arrow.right.svg");
	display: inline-block;
	width: 1em;
	height: 1em;
	/*margin: -8px;*/
	transform: scale(2);
	padding-left: 4px;
	fill: var(--icon-fill);
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(130deg) brightness(119%) contrast(116%);
}

.r-banner-link span {
	font-size: 1em;
	height: 1em;
	line-height: 1;
}

/* Text styling */
.r-banner h3 {
	display: flex;
	margin: auto 0;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: 750;
	padding-top: 3px;
}

.r-banner .desktop {
	font-size: 1.6em;
}

.r-banner .mobile {
	font-size: 1.15em;
}

/** Alert levels */
.r-banner-alert-LOW {
	background-color: var(--great-northern-green);
	text-transform: none;
}

.r-banner-alert-LOW h3 {
	text-transform: none;
}

.r-banner-alert-INFO {
	background-color: var(--french-blue-brighter);
}

.r-banner-alert-INFO h3 {
	text-transform: none;
}

.r-banner-alert-MODERATE {
	background-color: var(--south-eastern-yellow);
	color: var(--north-western-blue);
	font-weight: 720;
}

.r-banner-alert-MEDIUM {
	background-color: var(--south-eastern-yellow);
	color: #000000;
}

.r-banner-alert-SUBSTANTIAL {
	background-color: var(--south-eastern-yellow);
	color: #000000;
}

.r-banner-alert-SEVERE {
	background-color: var(--an-orange);
}

.r-banner-alert-CRITICAL {
	background-color: var(--midland-red);
	/* background-color: #B80000 */
}

/** Ensure spacing above phablet */
@media screen and (min-width: 500px) {
	/** Ensure nice bottom spacing */
	.events-row a {
		margin-bottom: 25px;
	}
}
/** Phablet */
@media screen and (max-width: 700px) {

	.events-row {
		flex-direction: column;
		height: 85vh;
	}
	.r-banner-container {
		top: min(20vh, 144px);
		/*bottom: 28px;*/
		/*position: initial;*/
		animation: slide-in-bottom 300ms both;
		animation-delay: 100ms;
		padding: 0 10px;
		/*margin-top: 10px;*/
	}

	/* HACK */
	#root {
		overflow-x: hidden;
	}
}

/** At phablet sizes, use justify content to vertically centre events rows.  Below this, it no longer looks right (too much spacing!) */
@media screen and (max-width: 700px) and (min-width: 500px) {
	.events-row {
		justify-content: center;
	}
}

/* Mobile */
@media screen and (max-width: 500px) {
	.isitweeka h1 {
		/*font-size: 5em;*/
		margin-top: 0;
		margin-bottom: 0;
		display: inline-flex;
	}

	.isitweeka h2 {
		font-size: 2.5em;
		display: inline-flex;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	.isitweeka h3 {
		font-size: 2em;
		display: inline-flex;
	}

	.isitweeka h4 {
		display: inline-flex;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	.isitweeka-jumbotron {
		/*padding-top: 80px;*/
		box-sizing: border-box;
	}

	.r-tab-row {
		padding-top: 40px !important;
	}

	.r-tab {
		font-size: 1.75em !important;
	}

	.r-banner-container {
		top: min(20vh, 112px);
	}
}

.isitweeka h1.mobile {
	display: none;
}

.isitweeka h2.mobile {
	display: none;
}

.isitweeka h3.mobile {
	display: none;
}

.isitweeka h4.mobile {
	display: none;
}

.mobile {
	display: none !important;
}

.desktop {
	display: inherit !important;
}

@media screen and (max-width: 700px) {
	/*.events-row {
		flex-direction: column;
		height: 480px;
	}*/

	.events-list {
		height: unset;
		min-height: 50%;
		/*flex: 1;*/
	}

	.events-list > * > div {
		min-height: 40%;
		max-height: 40%;
	}

	.isitweeka > h1.mobile {
		justify-content: center;
		font-size: 7em;
		display: flex !important;
	}

	#no-events-header {
		justify-content: center;
		font-size: 4em;
		display: flex !important;
	}

	.isitweeka > h2.mobile {
		justify-content: center;
		font-size: 3em;
		display: flex !important;
	}

	.isitweeka > h4 {
		justify-content: center;
	}

	.forward {
		margin: 0 auto;
	}

	.desktop {
		display: none !important;
	}

	.mobile {
		display: inline-block !important;
	}

	/* Socials fixes */
	.isitweeka-jumbotron .social-container {
		justify-content: center !important;
		transform: scale(0.8) translate(0, 60px) !important;
	}
}

/* HERE */

:root {
	--site-primary: #F10DA2;
	--site-secondary: #FE5000;
	background: black;
	color: white;
	--icon-fill: white;
	--link-active: rgba(255, 255, 255, 0.6);
	--horizontal-indent: 10vw;

	--midland-red: #DC143C;
	--south-eastern-yellow: #FECB09;
	--great-western-green: #013602;
	/* Slighty darkened, original was #00A550 */
	--great-northern-green: rgb(0, 156, 76);
	--north-western-blue: #080028;
	--french-blue-brighter: #2B69D4;
	--alt-blue: #0284db;

	--an-orange: #F4511E;
}


a {
	color: inherit;
	text-decoration: none;
}

.r-tab-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

.r-tab-row {
	display: flex;
	width: 100%;
	justify-content: center;
	/*height: 40px;*/
	padding: 68px 24px 0;
	box-sizing: border-box;
	position: absolute;
	gap: 12px;
}

.r-tab.active::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 4px;
	background-color: var(--site-primary);
}

.r-tab {
	font-size: 2em;
	padding-bottom: 8px;
	padding-top: 3px;
	height: 40px;
}




/* Mailing list */

/* Responsive design switches */
/** For mailing list, past 1000px it ceases to looking good */
/* Also shows the right one at certain screen sizes */
@media screen and (max-width: 1050px) { /* NOTE: If 1050px is changes, make sure to change it in TSX! (const SHOW_MOBILE_AT_WIDTH in MailingListBanner.tsx */
	.sosumi-desktop {
		display: none !important;
	}
	.mobile-bg-cover {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: #000;
		opacity: 0.8;
		top: 0;
	}
}
@media screen and (min-width: 1050px) {
	.sosumi-mobile {
		display: none !important;
	}
}

/** Between 1700 and 1050, make centre align and lift header onto new line so stufdf isn't too compacted */
@media screen and (max-width: 1700px) and (min-width: 1050px) {
	.sosumi {
		flex-direction: column;
		gap: 10px !important;
		padding: 20px !important;
	}
}

/**
 * COMBINED, BASE STYLES
 * Some classes are kept separate:
 */
.sosumi {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;

	text-align: center;
	color: #000;
	background: #FFF;

	padding: 10px 1vw;
	box-sizing: border-box;

	z-index: 3;
}

.privacy-policy-link {
	color: var(--alt-blue);
	text-decoration: underline;
	margin: auto;
	font-size: 0.87em;
}

.sosumi form {
	display: flex;
	font-weight: 500;
}

.sosumi label {
	margin: auto 0;
	font-weight: 600;
}

.sosumi input {
	position: relative;
	border: none;
	padding: 8px;
	/*border-bottom-color: var(--rykan-accent-primary);*/
	/*border-bottom-width: 4px;*/
	/*border-bottom-style: solid;*/
	/*box-shadow: none;*/
	/*box-shadow: inset 0 -4px 0 0 var(--rykan-accent-primary);*/
	/*filter: saturate(0);*/
	/*padding-bottom: 4px;*/
	transition-duration: 200ms;

	font-family: "Metropolis", "Open Sans", sans-serif !important;
	font-weight: 500;
}

.sosumi input:focus {
	/*box-shadow: inset 0 0 0 4px var(--rykan-accent-primary);*/
	/*box-shadow: inset 0 -4px 0 0 var(--great-northern-blue);*/
	/*box-shadow: inset 0 -4px 0 0 var(--rykan-accent-secondary);*/
	outline: none;
	/*background-color: #D0EBFD;*/
	/*filter: none;*/
}

.sosumi .input-container {
	display: flex;
	/*gap: 16px;*/
	position: relative;
	margin: auto;
}

.sosumi .input-container::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	bottom: 0;
	background-color: var(--site-primary);
	transition-duration: 200ms;
}

.sosumi .input-container:focus-within::after {
	background-color: var(--french-blue-brighter);
}

/* checkbox wrapper */
.sosumi .input-checkbox-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
}

.sosumi .input-checkbox-container input {
	margin: auto 0;
	box-shadow: none;
	width: fit-content;
}

.sosumi .input-checkbox-container input:focus {
	margin: auto 0;
	box-shadow: none;
}

/* Custom desktop only style */
.sosumi-desktop {
	position: sticky;

	min-height: 90px;
	margin: 0;

	top: 0;
	bottom: 0;
}

.sosumi-desktop h3 {
	margin: auto 0;
	font-size: 2em;
}

.sosumi-desktop form {
	flex-direction: row;
	gap: 16px;
	font-size: 1em;
	margin: auto 0;
}

/* Custom button styles */
.sosumi-desktop button {
	margin: auto;
	min-width: 95px;
}

.sosumi-desktop input {
	padding: 8px;
	/*padding-bottom: 4px;*/
	font-size: 0.85em;
	margin: 0;
	width: 16em;
}

/* Text input wrapper */
.sosumi-desktop .input-container {
	flex-direction: row;
	max-height: 32px;
}

/* Custom mobile only styles */
.sosumi-mobile {
	position: fixed;
	flex-direction: column;

	width: 90vw;
	height: 90vh;
	margin: auto;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sosumi-mobile h3 {
	/* Ensure tnis looks nice on iPhone 5S -> iPhone X */
	font-size: 4vh;
	box-sizing: border-box;
	padding: 0 5vw;
	margin-top: 1.5em;
	margin-bottom: 0;
}


.sosumi-mobile form {
	flex-direction: column;
	/*gap: 1.75em;*/
	gap: 4vh;
	font-size: 1.2em;

	width: 100%;
	padding: 0 4vw;
	box-sizing: border-box;
}

/* Message about required fields */
.sosumi-mobile #required-message {
	margin: 0;
	margin-bottom: 0.8em;
	color: #272727;
}

.sosumi-mobile label {
	text-align: left;
}

.sosumi-mobile input {
	padding: 8px 0;
	font-size: 1em;
	box-sizing: border-box;
}

.sosumi-mobile .input-container {
	flex-direction: column;
	width: 100%;
}

/** Dismiss styles for modal */
.sosumi-mobile .sosumi-dismiss {
	position: absolute;
	right: 0.8em;
	top: 0.8em;
	margin: 0;
	padding: 0;
}

.sosumi-mobile .sosumi-dismiss svg {
	color:rgba(0, 0, 0, 0.65);
	margin: 0;
}

.sosumi-mobile .sosumi-dismiss svg:hover {
	color:rgba(0, 0, 0, 1);
}

.sosumi-mobile .sosumi-dismiss svg:focus {
	color:rgba(0, 0, 0, 1);
}

/* ABOVE (Mailing list) has been copied but not sorted */

/** Cookie Consent **/

.CookieConsent, .CookieConsent button {
	font-size: 1em !important;
	font-weight: 500;
	text-transform: none;
	font-family: "Metropolis", "Open Sans", sans-serif !important;
}

.CookieConsent a {
	color: #8ADBFF;
}

.CookieConsent #rcc-confirm-button {
	/*background-color: #388E3C !important;*/
	background-color: var(--great-northern-green) !important;
	color: #FFF !important;
}


/* Socials */
.social-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1.8em;
}

.social-container a {
	background: none;
	color: #fff;
	border: solid 2px #fff;
}

.social-container a:hover {
	background-color: rgba(255, 255, 255, 0.12);
	color: #fff !important;
}

/* Old, colours social icons */
/*.social-container .instagram {
	background-color: #F00075;
}

.social-container .instagram:hover {
	background-color: #b10759;
	color: #fff;
}

.social-container .twitter {
	background-color: #1C9AEF;
}

.social-container .twitter:hover {
	background-color: #187abb;
	color: #fff;
}*/

.social-container a {
	border-radius: 100px;
	width: max(3.5em, 32px);
	height: max(3.5em, 32px);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}


.social-container a svg {
	margin: 0 auto;
  display: block;
}

.isitweeka-jumbotron .social-container {
	transform: translate(0, 60px);
	justify-content: left;
}

/** Footer */
.footer {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1em;
	font-weight: 400;
	padding-bottom: 30px;
}

.footer ul {
	list-style: none;
	margin: 0;
  padding: 0;
}

.footer a:hover {
	color: var(--french-blue-brighter) ;
}

.footer #feedback-buttom {
	margin: 25px auto 0;
}

.footer #feedback-buttom:hover {
	color: #fff;
}

.footer .outbound-links {
	display: flex;
	flex-direction: row;
	gap: 1em;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 1em;
}

.footer .container-credits {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 3px;
}

.footer .container-credits h4 {
	margin: 0.75em 0;
}

.footer .container-credits ul {
	display: flex;
	flex-direction: row;
	gap: 1em;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

/* Responsive design */
@media screen and (max-width: 700px) {
	.footer {
		padding-left: 5vw;
		padding-right: 5vw;
	}

	.footer .container-credits {
		flex-direction: column;
		justify-content: center;
		gap: 25px;
		margin-top: 10px;
	}

	.footer .container-credits ul {
		flex-direction: row;
		gap: 1.2em;
		justify-content: center;
	}
}

/** TEMP changes to full calendar */
.fc-cell-shaded {
	background: rgba(255, 255, 255, 0.12) !important;
}

.fc-list-event:hover td {
	background-color: rgba(255, 255, 255, 0.12) !important;
}

.fc .fc-list-sticky .fc-list-day > * {
	background: none !important;
}

.fc-button-primary {
	background: black !important;
	border-color: var(--rykan-accent-secondary) !important;
	border-width: 2px !important;
}