@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url("./fonts/Metropolis/stylesheet.css");

body {
  font-family: "Metropolis", 'Open Sans', sans-serif;
  color: #fff;
}

.App {
  color: #fff;
  justify-content: center;
  flex-direction: column;
}



/* VERTICALLYTG CENTRE */
.isitweeka {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.isitweeka {
  margin-left: 5vw;
  margin-right: 5vw;
}

.isitweeka h1 {
  font-size: 7em;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-flex;
}
.isitweeka h2 {
  font-size: 3em;
  display: inline-flex;
}
.isitweeka h3 {
  font-size: 2.5em;
  display: inline-flex;
}

.isitweeka h4 {
  font-size: 1.5em;
  display: inline-flex;
}

.isitweeka h5 {
  font-size: 1em;
  display: inline-flex;
}

.isitweeka a {
  /*color: #00B0FF;*/
  display: inline-flex;
}

.events * {
  text-align: center;
}

/* Button */

button {
  color: inherit;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 26px;
  text-transform: lowercase;
  text-decoration: none;
  transition-duration: 100ms;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  padding-top: 0.19em;
}

button > span {
  z-index: 2;
}

button.forward {
  /*margin-right: auto;*/
  /*margin-left: -8px;*/
  width: auto;
}

button.back {
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

button.forward::after {
  content: url("./appbar.arrow.right.svg");
  /*content: url(#icon);*/
  width: 48px;
  height: 48px;
  margin: -8px;
  padding-left: 8px;
  fill: var(--icon-fill);
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(130deg) brightness(119%) contrast(116%);
}

button.back::before {
  content: url("./appbar.arrow.left.svg");
  /*content: url(#icon);*/
  width: 48px;
  height: 48px;
  margin: -8px;
  /*margin-left: -24px;*/
  padding-right: 16px;
  fill: var(--icon-fill);
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(130deg) brightness(119%) contrast(116%);
}

button.forward::before {
  content: "";
  /* background-image: linear-gradient(to right, var(--rykan-accent-primary), var(--rykan-accent-secondary)); */
  background-color: var(--rykan-accent-primary);
  position: absolute;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
  left: -4px;
  bottom: -4px;
  transition-duration: 100ms;
  pointer-events: none;
  transform: scaleY(0.1);
  transform-origin: 0 100%;
  z-index: 0;
}

button.forward.a::before {
  transform: scaleY(0.1);
}

button.forward.b::before {
  transform: scaleY(1);
}

button.forward:hover::before {
  transform: scaleY(1);
}

button.forward.b:hover::before {
  filter: saturate(75%);
}

button.back::after {
  content: "";
  /* background-image: linear-gradient(to right, var(--rykan-accent-primary), var(--rykan-accent-secondary)); */
  background-color: var(--rykan-accent-primary);
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -4px;
  transition-duration: 100ms;
  pointer-events: none;
  transform: scaleX(0);
  transform-origin: 0 0;
}



.events-list {
  display: flex;
  height: 50%;
  flex-direction: column;
}

.events-list > * > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.events-row {
  display: flex;
  width: 100%;
  min-height: 320px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--link-active);
  margin: 0 -5vw;
  padding: 0 5vw;
}

.events-row:first-child {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--link-active);
}

@media screen and (max-width: 800px) {
  .events-row {
    flex-direction: column;
    min-height: 480px;
  }

  .events-list {
    height: unset;
    min-height: 50%;
    /*flex: 1;*/
  }

  .events-list > * > div {
    min-height: 40%;
  }
}

:root {
  --rykan-accent-primary: #F10DA2;
  --rykan-accent-secondary: #FE5000;
  background: black;
  color: white;
  --icon-fill: white;
  --link-active: rgba(255, 255, 255, 0.6);
}



a {
  color: inherit;
  text-decoration: none;
}